.App {
  text-align: center;
}

.App-header {
  background-color: #f1f1f1;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(104, 103, 103);
}

.App-link {
  color: #61dafb;
}

.jsplumb-container {
  --dot-bg: #f1f1f1;
    --dot-color: #696b6b;
    --dot-size: 2px;
    --dot-space: 20px;
    background:
      linear-gradient(90deg, var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
      linear-gradient(var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
      var(--dot-color);
}

.node {
  cursor: pointer;
  position: absolute;
  border-radius: 5px;
  width: 120px;
  height: 50px;
  border: #2f3233 2px solid;
  background-color: #009ace;
  box-shadow: 3px 3px 3px #696b6b;
  text-align: center;
  line-height: 50px;
  font-size: medium;
  box-sizing: border-box;
}

.myLabel {
  font-size: large;
  color: #969696;
}

.endPoint-hover {
  stroke: #009ace !important;
  fill: #009ace !important;
}