.App {
  text-align: center;
}

.App-header {
  background-color: #f1f1f1;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.node {
  cursor: pointer;
  position: absolute;
  border-radius: 5px;
  width: 120px;
  height: 50px;
  border: #2f3233 2px solid;
  background-color: #009ace;
  box-shadow: 3px 3px 3px #696b6b;
  text-align: center;
  line-height: 50px;
  font-size: medium;
}

.myLabel {
  font-size: large;
  color: #969696;
}

.endPoint-hover {
  stroke: #009ace !important;
  fill: #009ace !important;
}